body {
		font-family: '¥á¥¤¥ê¥ª',Meiryo,'£Í£Ó £Ð¥´¥·¥Ã¥¯',sans-serif;
		padding: 0;
		margin:0;
		background-color: #F2F2F2;
}

nav {

background-color: #0c3456;
		height:43px;
		color:#999;
}
nav h2{
	padding: 5px;
	margin-left: 200px;
	margin: 0;
}
input {
	padding:5px 10px 5px 10px;
	font-size:1em;
    border:solid 1px #ccc;
    margin:0 0 5px;
    width:200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

	
#contain {
	margin: 0 auto;
	width: 100%;
	padding-top: 30px;
}
#main {
	width: 100%;
	float: right;
}

.content {
	border-left: 1px solid #222;
}
#main_acount_new {
	padding: 15px;
	margin-left: 250px;
}

#main_acount_list {
	display: none;
	padding: 15px;
	margin-left: 250px;
}
.main_title {
	border-bottom: 1px solid #555;
}
.main_title h2 {
	margin-bottom: 5px;
	font-weight: 400;
	
}
.main_content {
	padding: 20px;
}

.main_content a {
	display: inline-block;
	width: 70px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	outline: none;
	border-radius: 3px;
}
.main_content a::before,
.main_content a::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.main_content a,
.main_content a::before,
.main_content a::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.main_content a {
	background-color: #fff;
	border: 1px dashed #333;
	color: #333;
	line-height: 25px;
}
.main_content a:hover {
	border-style: solid;
}
#side_ber {
	width:250px;
	margin-right: -300px;
	float: left;
	border-right: 1px solid #222;
/*	background-color: #222; */
}
#page_title {
	margin: 0 auto;
	width: 200px;
	text-align: center;
}
#page_title h1 {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-weight: 400;
/*	background-image: linear-gradient( transparent 70%, #121244   30% ); */
}
#menu {
	margin: 0 auto;
	width: 200px;
	color: #222;
	padding-left: 10px;
}
#menu h3{
	font-weight: 400;
	font-size: 16px;
	padding: 5px;
	margin: 0;
}
#menu ul {
	padding: 0;
	margin: 0;
}
#menu li {
	padding: 0;
	margin: 0;
	padding-left: 10px;
	font-size: 13px;
	list-style: none;
}
#menu li a {
	text-decoration: none;
	color: #666;
}


.button {
	display: inline-block;
	width: 120px;
	height: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 18px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}



#create_room {}

#create_room .button {
	display: inline-block;
	width: 120px;
	height: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	outline: none;
	background-color: #1a96c2;
	box-shadow: 0 3px 0 #49c5f0;
}
#create_room  .button:hover {
	background-color: #1a88c2;
	box-shadow: 0 3px 0 #49c0f0;
}
#create_room  .button:active {
	top: 3px;
	box-shadow: none;
}




