body {
/**	    background-color: #272822; **/
	background-color: #f2f2f2;
}

nav {
	
	background-color: #0c3456;
	border-bottom: 1px solid #333;
}

nav img {
	margin-left: 160px;
}

#wrap {
	position: relative; /* .modalBaseLayer position: absolute;の基準要素となります */
    min-height: 100%;   /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    overflow: hidden;   /* モーダルウィンドウの高さが、#wrapの高さを超えても表示に問題がでないように。
                           あと、スマートフォンで横スクロールがでないようにする対策 */
    width: 100%;        /* スマートフォンで横スクロールがでないようにする対策 */
    margin: 0 auto;
}

#contain {
	margin: 0 auto;
	padding-top: 40px;
	width:1000px;
	position: relative;
    z-index: 1;
}

#main {
	width:720px;
	float: left;
	padding-bottom: 30px;
}

#page_title {
	width:676px;
	padding: 20px;
	margin-bottom: 30px;
/**	background-color: #F2F2F2; **/
	background-color: #fff;
	border:1px solid #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#room_list {
	width:676px;
	padding: 20px;
	background-color: #fff;
	border:1px solid #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.room_row {
	border-bottom: 1px solid #eee;
	padding:3px;
}

.room_row h1 {
	display: inline;
	font-size: 16px;
	font-weight: 200;
	font-family: 'Open Sans', sans-serif;
}

.room_number {
	width: 22px;

	text-align: right;
	margin-right: 5px;
	display: inline-block;
}

.room_title {
	color: #444;
	width: 170px;
	display: inline-block;
	font-size: 14px;
}

.room_language {
	width: 50px;
	color: #8b0000;
	font-size:12px;
	display:inline-block;
}

.room_user {
	color: #444;
	width: 130px;
	display: inline-block;
	font-size: 14px;
}

.room_user img {
	vertical-align: middle;
}

.p_number {
	color: #777;
	margin-right: 16px;
	display: inline-block;
	font-size: 12px;
}

.button {
	display: inline-block;
	width: 120px;
	height: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 18px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}


#side_ber {
	float: left;
	padding-left: 10px;
	width: 260px;
}

#prof {
	color: #222;
	font-size: 14px;
}

#prof img {
	border-radius: 3px;
}

#prof_detail {
	padding-top: 8px;
}

#prof_detail .button {
	border: 1px solid #15aeec;
	background-color: #49c0f0;
	background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
	background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	width: 120px;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	
	box-shadow: 0 3px 0 #1ab0ec;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#prof_detail .button:hover {
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);

	background-color: #1a92c2;
	box-shadow: 0 3px 0 #49c0f0;
}
#prof_detail .button:active {
	background: #1a92c2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

#prof_username {
}

#create_room {
	border-top: 3px solid #eee;
	margin: 40px 10px 0px 10px;
	padding-top:25px;
	text-align: center;
}

#create_room .button {
	position: relative;
	background-color: #49c0f0;
	border-radius: 4px;
	margin-bottom: 10px;
	color: #fff;
	width: 240px;
	height: 26px;
	line-height: 26px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #1ab0ec;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#create_room  .button:hover {
	background-color: #1a92c2;
	box-shadow: 0 3px 0 #49c0f0;
}
#create_room  .button:active {
	top: 3px;
	box-shadow: none;
}

/*

#create_room .button {
	position: relative;
	background-color: #6AB588;
	border-radius: 4px;
	color: #fff;
	width: 240px;
	height: 26px;
	line-height: 26px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #5A9973;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#create_room  .button:hover {
	background-color: #7BD19D;
	box-shadow: 0 3px 0 #6AB588;
}
#create_room  .button:active {
	top: 3px;
	box-shadow: none;
}

*/

/* モーダルウィンドウ下層のベースレイヤー */
.modalBaseLayer {
    visibility: hidden; /* visibilityプロパティ値を操作することで、モーダルウィンドウを表示・非表示することができます */
    position: absolute; /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    z-index: 10;        /* #contentsより上のレイヤーに表示するために必要 */
    top: 0;             /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    left: 0;            /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    right: 0;           /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    bottom: 0;          /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    margin: auto;       /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    width: 100%;        /* .modalBaseLayer を、画面ぴったりに縦横100%指定するために必要 */
    background-color: rgba(0,0,0,0.3); /* モーダルのベースレイヤを、黒の透明度30%で表示 */
}

/* モーダルウィンドウ */
.modal {
    position: absolute; /* .modalBaseLayer を、基準要素として絶対配置 */
    height: 100px;
    top: 100px;          /* モーダルウィンドウの上余白 JS側から上書きしているので適用されない */
    left: 490px;         /* モーダルウィンドウの左余白 */
    right: 490px;        /* モーダルウィンドウの右余白 */
    margin: auto;       /* モーダルウィンドウを左右中央配置（幅指定された場合用） */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    background-color: #fff; /* モーダルウィンドウの背景色 */
}

#renew_icon {
	height:100px;
	margin: 8px;
	vertical-align: text-bottom;
}

#renew_icon_data {
	height: 100px;
}

#renew_icon_data p{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0px;
}

#upload_file {
	margin-top: 30px;
}

#renew_icon_data_inner {
}

#icon_close_modal {
	margin-left: 10px;
	font-size: 12px;
}

#renew_icon_close_modal{
	font-size: 12px;
}

#renew_password {
	width: 330px;
	margin: 15px ;
	margin-left: 30px;
	font-size: 12px;
}

#renew_password_submit{
	color:-webkit-link;
	float: right;
	margin-right: 10px;
}

#renew_password_cancell {
	float: right;
	font-size: 12px;
	margin-right: 70px;
}